@using AspNetRazorTodo.WebApp.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SimpleTodoUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - AspNetRazorTodo.WebApp</title>
  <script type="importmap"></script>
  <link rel="stylesheet" href="~/site.css" asp-append-version="true" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col h-screen">

<header>
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a asp-page="/Index" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Simple Todo</span>
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-sm  text-gray-500 dark:text-white hover:underline">
              @User.Identity!.Name
            </a>
            <a asp-area="Identity" asp-page="/Account/Logout" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Logout</a>
        }
        else
        {
          <a asp-area="Identity" asp-page="/Account/Login" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a>
        }
      </div>
    </div>
  </nav>
</header>

<main role="main" class="grow">
  @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
